@import "tailwindcss";

:root {
    --background: #121318;
    --light-background: #181820;
    --accent: #ea96ad;
    --dark-accent: #aa6d7d;
    --foreground: #d8d8d8;
    --error: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-dustismo);
}

body {
  background: var(--background);
  color: var(--foreground);
}
