@import "tailwindcss";

:root {
    --background: #191113;
    --light-background: #271a1d;
    --card-border: #3c2e2f;
    --accent: #ea96ad;
    --dark-accent: #cc8495;
    --dark-accent-focus: #c67e8f;
    --foreground: #d8d8d8;
    --error: #e36666;
    --highlight-background: #653f46;
    --highlight-text: #e1b7c2;
    --muted-foreground: #a19393;
    --loading-circle: #3e3030;
}

@keyframes loadingCircle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-light-background: var(--light-background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-dark-accent: var(--dark-accent);
    --color-error: var(--error);
    --color-card-border: var(--card-border);
    --font-main: var(--font-dustismo);
    --drop-shadow-accent: 0px 0px 10px #ea96ad;
    --drop-shadow-white-glow: 0px 0px 10px rgba(255, 255, 255, 0.38);
    --drop-shadow-error-glow: 0px 0px 10px #e36666;
    --text-shadow-glow: 0px 0px 2px #ea96ad;
    --shadow-glow: 0px 0px 10px 1px #ea96ad;
    --color-highlight-background: var(--highlight-background);
    --color-highlight-text: var(--highlight-text);
    --shadow-dim-glow: 0px 0px 10px 1px #252535;
    --text-shadow-white-glow: 0px 0px 2px #ffffff;
    --text-shadow-error-glow: 0px 0px 2px #e36666;
    --color-muted-foreground: var(--muted-foreground);
    --animate-loading-circle: loadingCircle 1s ease-in-out 0s infinite;
    --color-loading-circle: var(--loading-circle);
    --color-dark-accent-focus: var(--dark-accent-focus);
}

body {
    background: var(--background);
    color: var(--foreground);
}
